.product {
  display: grid;
  grid-template-columns: [start] 70px [logoend] 30px [titlestart] calc(50% - 100px) [middle] auto [pricestart] 1fr [priceend] 40px [creditstart] auto [creditend] 40px [ratestart] auto [end];
  margin-bottom: 30px;
  padding: 30px;
}

.logo {
  grid-column: start / logoend;
  grid-row: 1 / span 2;
}

.title {
  grid-column: titlestart / middle;
}

.tags {
  grid-column: titlestart / pricestart;
}

.price,
.priceTitle {
  grid-column: pricestart / priceend;
}

.credit,
.creditTitle {
  grid-column: creditstart / creditend;
}

.rating,
.rateTitle {
  grid-column: ratestart / end;
}

.description,
.actions,
.hr {
  grid-column: start / end;
}

.features {
  grid-column: start / middle;
}

.adv {
  grid-column: middle / end;
}

.logo img {
  border-radius: 5px;
}

.title {
  align-self: flex-end;
  font-size: 20px;
  font-weight: 600;
}

.price,
.credit,
.rating {
  align-self: flex-end;
  font-size: 20px;
  font-weight: 400;
}

.tag {
  margin-top: 5px;
}

.priceTag {
  margin-top: 7px;
  margin-left: 5px;
}

.credit>span {
  font-size: 14px;
}

.priceTitle,
.rateTitle,
.creditTitle,
.rating {
  font-size: 14px;
  font-weight: 300;
}

.description {
  margin-bottom: 15px;
  font-size: 16px;
  font-weight: 400;
}

.actions button:not(:last-child) {
  margin-right: 20px;
}

.adv h3 {
  margin-bottom: 5px;
  font-size: 16px;
  font-weight: 700;
}

.adv p {
  margin-bottom: 5px;
  font-size: 16px;
  font-weight: 400;
}

.advantages {
  margin-bottom: 20px;
  padding-left: 15px;
  border-left: 3px solid var(--green);
}

.disadvantages {
  padding-left: 15px;
  border-left: 3px solid var(--red);
}

.feature {
  display: grid;
  grid-template-columns: auto 1fr auto;
  align-items: baseline;
  gap: 10px;
  padding-right: 50px;
  font-size: 16px;
  font-weight: 700;
  line-height: 32px;
}

.featureDots {
  border-bottom: 1px dashed var(--gray-light);
  margin-bottom: 5px;
}